<html>
    <head>
        <title>[évaluation du stage de {{nom_etudiant}} {{prenom__etudiant}}]</title>
    </head>
    <body>
        <h2>Bonjour {{nom}} {{prenom}}, nous vous informons qu'une session d'évaluation de stage pour l'étudiant {{nom_etudiant}} {{prenom__etudiant}} vient de commencer</h2>
        <p> En tant que maître de stage de cet élève, vous aurez à remplir un formulaire d'évaluation afin que nous puission évaluer l'étudiant</p>
        <p>Une fois la soutenance réalisé, vous pourrez visualisé toutes les informations de la soutenance</p>
        <p>Vous pouvez accèder à la plateforme avec le lien suivant :</p>
        <p>{{lien}}</p>

        <p> Merci d'avance </p>
    </body>
    </html>
    