    <html>
<head>
    <title>[ouverture Session Polystage]</title>
</head>
<body>
    <h2>Bonjour {{nom}} {{prenom}}, nous vous informons qu'une session d'évaluation de stage vient de commencer sur la plateforme Polystage.</h2>
    <p>Cette plateforme servira pour l'évaluation des stage que vous avez réalisé cette année.</p>
    <p>Cette plateforme vous servira à remplir des formulaires pour l'évaluation de votre stage, vous pourrez aussi visualiser l'heure de votre soutenance ainsi que les informations associés</p>
    <p> Une fois la soutenance réalisé, vous pourrez visualisé les formulaires remplies par votre tuteur et par le jury ainsi que visualisé votre note </p>
    <p>La plateforme est accessible dès maintenant à partir du lien suivant : </p>

    <p>voici vos indentifiants :</p>
    <p>Login : {{email}} </p>
    <p>Mot de passe : {{password}}</p>

    <p> Ce mot de passe devra être changé lors de la première connexion</p>



</body>
</html>
