    <html>
<head>
    <title>[ouverture Polystage]</title>
</head>
<body>
    <h2>Bonjour,nous vous informons que la plateforme Polystage vient d'ouvrir.</h2>
    <p>Cette plateforme servira pour l'évaluation du stage que vous avez réalisé cette année.</p>
    <p>La plateforme est accessible dès maintenant à partir de l'intranet AMU.</p>
    <p>Vous aurez à remplir des formulaires pour la préparation de la soutenance, vous pourrez aussi visualiser l'heure de votre soutenance ainsi que les informations assciés</p>
</body>
</html>
